.editor {
    background: radial-gradient(circle at top, hsl(var(--color-fav), 50%), hsl(var(--color-theme-dark), 30%));
    backdrop-filter: blur(20px);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

@media print {
    .editor {
        align-items: center;
    }
}