.main {
    min-height: 100vh;
    min-height: 100svh;
    min-width: 100vw;
    min-width: 100svw;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    backdrop-filter: blur(50px);

    font-size: 1.5rem;
}

:global(.p2) {
    padding: 2rem;
}

@media screen and (max-width: 870px) {
    .main {
        display: none;
        position: relative;
    }

    .main::after {
        content: "Please use a bigger screen. We don't support smaller screens :)";
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        color: hsl(var(--color-light), 80%);
        text-align: center;
        font-size: 2em;

    }

}