.slot {
    align-items: center;
}

.time {
    font-family: monospace;
}

.room {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.activeSlot {
    /* background: #0f0c29 !important; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29) !important; */
    /* Chrome 10-25, Safari 5.1-6 */
    background: hsl(var(--color-theme-dark)) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}