.actionButtons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
}

.secondaryBtn {
    border: 1px solid hsl(var(--color-theme), 60%);
    background-color: hsl(var(--color-theme), 40%);

}

.primaryBtn {
    border: 1px solid hsl(var(--color-fav), 60%);
    background-color: hsl(var(--color-fav), 40%);
}

.primaryBtn:hover {
    background-color: hsl(var(--color-fav), 60%);
}

.secondaryBtn:hover {
    background-color: hsl(var(--color-theme), 60%);
}

#tableTitle {
    flex-grow: 1;
}

.tableTitle {
    font-size: 2.3rem;
    display: none;
}

@media print {
    .tableTitle {
        display: block;
    }
}

.text-light {
    color: hsl(var(--color-gray));
}